.crypto-icon-container {
  width: 40px;
  height: 40px;

}

.crypto-list-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #171b26;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 5px;
  // background-color: #293143;
  color: #fff;
  &.active {
    border: none;
  }
  &.hover {
    background-color: #212838;
  }
}

.crypto-status {
  color: green;
  &.active {
    color: red
  }
}

.column {
  text-align: left;
  width: 180px;
  display: flex;
  align-items: center;

  &.favorite {
    width: 50px;
  }
}

// section {
//   display: grid;
//   margin: 2% auto;
//   grid-gap:2%;
//   grid-template-columns:repeat(4,1fr);
// }