.crypto-page-header-container {
  display: flex;
  background-color: #293143;
  border-radius: 6px;
  padding: 15px;
}

.crypto-page-header-name {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}