.crypto-page-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #293143;
  border-radius: 6px;
  padding: 15px;
  color:white;
  margin-top: 20px;
}

.crypto-page-header-right {
  display: flex;
  flex-direction: row;
}

.crypto-page-header-name {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}