.crypto-list-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #293143;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
}

.crypto-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crypto-list-header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.crypto-list-favorite-row {
  display: flex;
  flex-direction: row;
}
// section {
//   display: grid;
//   margin: 2% auto;
//   grid-gap:2%;
//   grid-template-columns:repeat(4,1fr);
// }

// .column {
//   background-color: #e2e2e2;
//   padding: 5px;
// }