.navbar-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: flex-end;
  color: white;

}

.navbar-right {
  width: 300px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}